body {
  	font-family: sans-serif;
	background-color: #B7B0B0;
}
#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}
#logo{
	width:96px;
	height:96px;
    background-image: url("./img/aa.svg");
}
#avatar_temp{
	width:48px;
	height:47px;
    background-image: url("./img/user_temp).svg");
}
#news{
	width:48px;
	height:48px;
	background-image: url("./img/news_white.svg");
}
#news_active{
	width:48px;
	height:48px;
	background-image: url("./img/news_red).svg");
}
#recipes{
	width:48px;
	height:48px;
	background-image: url("./img/recipes_white.svg");
}
#recipes_active{
	width:48px;
	height:48px;
	background-image: url("./img/recipes_red.svg");
}
.recipe{
}
.header-color{
	background-color: #807474;
	background-color: #FFFFFF;
}
.navbar-header{
}
.search{
	background-color: #FF0011;
	background-color: #FFFFFF;
}
.avatar{
	background-color: #FFCC00;
}
.container {
	position: relative;
	top: 20px;
}
.header{
	position: absolute;
	top: 0px;
}
.news-tab{
	background-color: #807474;
}
.recipe-tab{
	background-color: #807474;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;
}


.carousel {
  position: relative;
}

// Carousel slides
.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;
  text-align: center;

  @media (max-width: 991px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  &--active {
    display: block;
  }
}

.carousel-slide__content {
  margin-bottom: 19px;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 16px;

  @media (max-width: $breakpoint-desktop - 1px) {
    font-size: 18px;
  }
}

.carousel-slide__author,
.carousel-slide__source {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;

  @media (min-width: $breakpoint-desktop) {
    font-size: 16px;
  }
}

.carousel-slide__source {
  font-style: italic;
  color: #888;
}

.carousel__arrow {
  position: absolute;
  top: 50%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: .75;
  transform: translateY(-50%);
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .5;
  }

  &--left {
    left: 32px;
  }

  &--right {
    right: 32px;
  }
}
