#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}
#logo{
	width:96px;
	height:96px;
    background-image: url("./img/aa.svg");
}
#avatar_temp{
	width:48px;
	height:47px;
    background-image: url("./img/user_temp).svg");
}
#news{
	width:96px;
	height:96px;
	background-image: url("./img/news_white.svg");
}
#news_active{
	width:48px;
	height:48px;
	background-image: url("./img/news_red).svg");
}
#recipes{
	width:96px;
	height:96px;
	background-image: url("./img/recipes_white.svg");
}
#recipes_active{
	width:48px;
	height:48px;
	background-image: url("./img/recipes_red.svg");
}
.recipes{
	background-color: #807474;

}
.header-color{
	background-color: #807474;
	background-color: #FFFFFF;
}
.navbar-header{
}
.search{
	background-color: #FF0011;
	background-color: #FFFFFF;
}
.avatar{
	background-color: #FFCC00;
}
.container {
	position: relative;
	top: 20px;
}
.header{
	position: absolute;
	top: 0px;
}
.news-tab{
	background-color: #807474;
	background-color: #2B2121;
}
.recipe-tab{
	background-color: #807474;
	background-color: #2B2121;
}
.recipe-small{
	background-color: #FFFFFF;
}
#root{
	background-color: #212121;
}
.modal{
	width:1920px;
	height:1080px;
}
.avatar{

	background-color: #21b221;

}

body {
	background-color: #212121;
}





.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FD7171;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#registerHead {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

 /* label underline focus color */
 .registerForm input:focus {
   border-bottom: 1px solid #3D3D3D !important;
   box-shadow: 0 1px 0 0 #222 !important
 }

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password,
.passwordCheck {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName {
  width: 49%;
}

.email,
.password,
.passwordCheck {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #999;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #FD7171;
  background-color: #fff;
  border: 2px solid #FD7171;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}

.password small {
  color: #999;
  font-weight: lighter;
  text-align: right;
}

.loginServices {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loginServices small {
  color: #999;
  font-weight: lighter;
}

.middle {
  width: 100%;
}

.btn {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 60px;
  font-size: 26px;
  transition: 0.2s linear;
}

.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #FD7171;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
