body {
  font-family: sans-serif;
}
#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}
#logo{
	width:96px;
	height:96px;
    background-image: url("./img/aa.svg");
}
#news{
	width:48px;
	height:48px;
	background-image: url("/img/news.svg");
}
#recipes{
	width:48px;
	height:48px;
	background-image: url("/img/recipes.svg");
}
.recipe{
}
.header-color{
	background-color: #A0A0A0;
}
.search{
	background-color: #FF0011;
}
.avatar{
	background-color: #FFCC00;
}
.container {
	position: relative;
	top: 20px;
}
.header{
	position: absolute;
	top: 0px;
}

